<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!--
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    -->
    
    <arg name="robot_name" default="my_rb1" />
    <arg name="xacro_file_path" default="$(find my_rb1_description)/urdf/my_rb1.xacro" />
    

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg xacro_file_path)" />
    
    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <!--
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x $(arg x) -y $(arg y) -z $(arg z)  -model $(arg robot_name) -param robot_description"/>
    -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen"/>
</launch>